body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Lora', serif;
}


.jumbotron{
  background-image: url("../images/1.png");
  background-size: cover;
  width: 100%;
  height: auto;
  font-family: 'Raleway', 'Lora'
  margin-bottom: 0px !important;
  margin-bottom: 0px;
}

.table-dark {
    color: #fff;
    background-color: #343a4069;
}

.form-check {
    margin-left: 20%;
}

.form-group {
    margin-left: 20%;
}

.form-check p {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

button.btn.btn-primary {
    margin-left: 50%;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: raleway;
    text-align: left;
    font-size: larger;
}

p#form-label {
    margin-top: 0px;
}

h1, .h1 {
    font-size: 2.5rem;
    font-family: raleway;
    text-align: -webkit-left;
    color: #213944;
}

h6, .h6 {
    font-size: 2rem;
    font-family: raleway;
    text-align: center;
        margin-top: -5rem;
}
.contrainer-full.col-md-6 {
    padding: 2%;
}

input#submitButton {
    margin-left: 20%;
    margin-top: 1rem;
    background-color: #607d8b;
    color: #fff;
    border-color: #9E9E9E;
}

input#submitButton:hover {
    color: #000;
    transform: translateY(10px);
}